@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: Helvetica;
}

#header h1 {}

div#header {
    margin: 0 auto;
    width: 50vh;
    text-align: center;
}

div#search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

section#searchBox {
    width: 50%;
}

form#searchForm {
    display: flex;
}

select#program {
    width: 100px;
    background: white;
    border: 3px solid #00B4CC;
    height: 36px;
    border-radius: 5px 0 0 5px;
}

.search {
    width: 50%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}